In [1]:
import pandas as pd

In [ ]:
pd.Series()
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [7]:
data = {
    "국어" : [90, 80],
    "영어" : [85, 88],
    "수학" : [88, 95]
}


pd = pd.DataFrame(data, index = ["홍길동","임꺽정"])
pd

     국어  영어  수학
홍길동  90  85  88
임꺽정  80  88  95

In [8]:
# Series (시리즈)
# 1차원
import pandas as pd

team_name = pd.Series([
"서희창",
"박성화",
"심수진",
"이진헌",
"이광민",
"이은지"
])

team_name

0    서희창
1    박성화
2    심수진
3    이진헌
4    이광민
5    이은지
dtype: object

In [12]:
a = team_name.index
print(a)

b = team_name.values
print(b)

c = team_name.size
print(c)

d = team_name.dtype
print(d)

RangeIndex(start=0, stop=6, step=1)
['서희창' '박성화' '심수진' '이진헌' '이광민' '이은지']
6
object

In [14]:
team_name.name = "팀원 이름"
team_name

team_name.index.name ="번호"
team_name

번호
0    서희창
1    박성화
2    심수진
3    이진헌
4    이광민
5    이은지
Name: 팀원 이름, dtype: object

In [15]:
population_list = pd.Series(
    ["1000만", "300만", "120만", "200만"],
    index = ["서울", "부산", "광주", "대구"]
)

# 
population_list.name ="2020 인구수"
population_list.index.name = "도시"

print(population_list)


population_dict = pd.Series({
    "도시": ["서울", "부산", "광주", "대구"],
    "인구": ["1000만", "300만", "120만", "200만"]
})

print(population_dict["도시"])
print(population_dict["인구"])

도시
서울    1000만
부산     300만
광주     120만
대구     200만
Name: 2020 인구수, dtype: object
['서울', '부산', '광주', '대구']
['1000만', '300만', '120만', '200만']

In [ ]:
# 대전 => 300만 추가
population_list["대전"] = 3000000

도시
서울        1000만
부산         300만
광주         120만
대구         200만
대전    (3, 0, 0)
Name: 2020 인구수, dtype: object

In [18]:
d = population_list.drop("대전")
print(d)
population_list

도시
서울    1000만
부산     300만
광주     120만
대구     200만
Name: 2020 인구수, dtype: object

도시
서울        1000만
부산         300만
광주         120만
대구         200만
대전    (3, 0, 0)
Name: 2020 인구수, dtype: object

In [ ]:
population_list.drop("대전", inplace=True)

In [19]:
population_list.values

a = population_list // 1000000

print(list(a), sep =" ,")

TypeError: unsupported operand type(s) for //: 'str' and 'int'