In [1]:
import os
import numpy as np
import pandas as pd

# 1.CRUD ä¸­ Create
## 1.1. ğŸ‘Create Series 
## 1.2. ğŸ‘Create DataFrame
## 1.2.1. ğŸ‘Create Series + concat(concatenate) => ğŸ‘Create DataFrame

In [5]:
s1 = pd.Series([10, 20, 30], name="ì ìˆ˜")
display(s1)

0    10
1    20
2    30
Name: ì ìˆ˜, dtype: int64

# 1.2. ğŸ‘Create DataFrame

In [ ]:
# 1.2.1. Ditionary í˜•íƒœì˜ DataFrame ìƒì„±
data = {
    "ì´ë¦„" : ["ì˜í¬", "ì² ìˆ˜", "ë¯¼ìˆ˜"],
    "ë‚˜ì´" : [20, 21, 19],
    "ì„±ë³„" : ["F", "M", "M"]
}
display(data)

df = pd.DataFrame(data)
display(df)

{'ì´ë¦„': ['ì˜í¬', 'ì² ìˆ˜', 'ë¯¼ìˆ˜'], 'ë‚˜ì´': [20, 21, 19], 'ì„±ë³„': ['F', 'M', 'M']}

   ì´ë¦„  ë‚˜ì´ ì„±ë³„
0  ì˜í¬  20  F
1  ì² ìˆ˜  21  M
2  ë¯¼ìˆ˜  19  M

In [14]:
# 1.2.2. List í˜•íƒœì˜ DataFrame ìƒì„±
data = [["ì˜í¬", 20, "F"],
        ["ì² ìˆ˜", 21, "M"],
        ["ë¯¼ìˆ˜", 19, "M"]]
df = pd.DataFrame(data, columns=["ì´ë¦„", "ë‚˜ì´", "ì„±ë³„"])
display(df)

# columnsëª… í™•ì¸
print(df.columns)
# indexëª… í™•ì¸ 
print(df.index)

   ì´ë¦„  ë‚˜ì´ ì„±ë³„
0  ì˜í¬  20  F
1  ì² ìˆ˜  21  M
2  ë¯¼ìˆ˜  19  M

Index(['ì´ë¦„', 'ë‚˜ì´', 'ì„±ë³„'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

In [ ]:
# âœï¸ ì—°ìŠµ - ì•„ë˜ ë¦¬ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë‹´ì€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ì„ ìƒì„±í•˜ì‹œì˜¤.

name = ["ì˜í¬", "ì² ìˆ˜", "ë¯¼ìˆ˜"]
python_score = [90, 65, 75]
db_score = [100, 85, 65]

# ë”•ì…”ë„ˆë¦¬ë¡œ ë°ì´í„°ë¥¼ êµ¬ì„±
data = {
    "ì´ë¦„": ["ì˜í¬", "ì² ìˆ˜", "ë¯¼ìˆ˜"],
    "íŒŒì´ì¬": [90, 65, 75],
    "ë°ì´í„°ë² ì´ìŠ¤": [100, 85, 65]
}

# ë°ì´í„° í”„ë ˆì„ ìƒì„±
display(data)
df_data = pd.DataFrame(data)

# displayë¡œ ì¶œë ¥
display(df_data)

{'ì´ë¦„': ['ì˜í¬', 'ì² ìˆ˜', 'ë¯¼ìˆ˜'], 'íŒŒì´ì¬': [90, 65, 75], 'ë°ì´í„°ë² ì´ìŠ¤': [100, 85, 65]}

   ì´ë¦„  íŒŒì´ì¬  ë°ì´í„°ë² ì´ìŠ¤
0  ì˜í¬   90     100
1  ì² ìˆ˜   65      85
2  ë¯¼ìˆ˜   75      65

In [22]:
# 1.2.3. Series ë³‘í•©í•´ì„œ DataFrame ë§Œë“¤ê¸°
# SeriesëŠ” 1ì°¨ì› ë°°ì—´ë¡œ, DataFrameì€ 2ì°¨ì› ë°°ì—´ì…ë‹ˆë‹¤.
# Seriesë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜í•˜ë ¤ë©´, Seriesë¥¼ ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ë³€í™˜í•œ í›„ DataFrameìœ¼ë¡œ ë³€í™˜í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

# Seriesì— value1ì„ ì¶”ê°€ 
s1 = pd.Series([10, 20, 30], name="ì ìˆ˜")
display(s1)
# Seriesì— value2ì„ ì¶”ê°€
s2 = pd.Series(["ì² ìˆ˜", "ì˜í¬", "ë¯¼ìˆ˜"], name="ì´ë¦„")
display(s2)

# Seriesë¥¼ ë³‘í•©í•´ì„œ DataFrameìœ¼ë¡œ êµ¬ì„±í•˜ê¸° 
# ë³‘í•©í•˜ëŠ” í•¨ìˆ˜ëŠ”?

concat_axis1 = pd.concat([s1,s2], axis=1)
display(concat_axis1)

0    10
1    20
2    30
Name: ì ìˆ˜, dtype: int64

0    ì² ìˆ˜
1    ì˜í¬
2    ë¯¼ìˆ˜
Name: ì´ë¦„, dtype: object

   ì ìˆ˜  ì´ë¦„
0  10  ì² ìˆ˜
1  20  ì˜í¬
2  30  ë¯¼ìˆ˜

# 2.CRUD ä¸­ Read 
## 2.1 ğŸ‘Read DataFrame
### 2.1.1. indexingê³¼ slicing  ê°€ëŠ¥ æœ‰ vs ê°€ëŠ¥ ç„¡
- ìœ„ì¹˜ ê¸°ë°˜ ì ‘ê·¼
- ì¡°ê±´ ê¸°ë°˜ ì ‘ê¸ˆ
### 2.1.2. ê°€ëŠ¥ ç„¡ í•´ê²°ë°©ì•ˆ => indexer => iloc vs loc

In [27]:
df = pd.DataFrame({
    "ì´ë¦„": ["ì˜í¬", "ì² ìˆ˜", "ë¯¼ìˆ˜"],
    "ë‚˜ì´": [20, 21, 19],
    "ì„±ë³„": ["F", "M", "M"]
})

display(df)

   ì´ë¦„  ë‚˜ì´ ì„±ë³„
0  ì˜í¬  20  F
1  ì² ìˆ˜  21  M
2  ë¯¼ìˆ˜  19  M

In [33]:
# ìœ„ì¹˜ê¸°ë°˜ ë°ì´í„° ì ‘ê·¼ => í–‰ ì ‘ê·¼(ìŠ¬ë¼ì´ì‹±!) 
df[0:2]
df["ë‚˜ì´"]
df.loc[0:2, "ì´ë¦„": "ì„±ë³„"]  # locëŠ” ë¼ë²¨ ê¸°ë°˜ ì ‘ê·¼

   ì´ë¦„  ë‚˜ì´ ì„±ë³„
0  ì˜í¬  20  F
1  ì² ìˆ˜  21  M
2  ë¯¼ìˆ˜  19  M