In [3]:
import pandas as pd
import os

In [4]:
os.getcwd()

'c:\\Users\\lgdx\\LG_DX_School\\01_Foundation\\python_lib'

In [13]:
# ★★★★★index_cul = index_cul 한글이 깨진경우 에러가난다. ★★★★★
score = pd.read_csv("./data/score.csv", encoding="utf-8-sig")
score

    ����  1��  2��  3��  4��
0  ���̽�   45   44   73   39
1     DB   76   92   45   69
2    �ڹ�   47   92   45   69
3   ũ�Ѹ�   92   81   85   40
4    Web   11   79   47   26