In [2]:
import pandas as pd

In [3]:
# 1. 데이터셋 
ages = [0, 2, 10, 15, 21, 23, 37, 61, 20, 41, 100, 32]

In [4]:
# 0~10 => 미성년자
# 20~35 => 청년
# 36~ 60=> 중년
# 61~ 100 => 노년

In [5]:
# 2. 범주
# 왼쪽 값은 포함되지 않음, 오른쪽 값은 포함
# 0 < x <= 10
bins = [ 0, 19, 35, 60, 100]

In [6]:
# 3. 라벨정의 
lab = ["미성년자", "청년", "중년", "노년"]

In [7]:
# 시리즈 형식으로 나눠보고싶다. 
# step1. .cut() => 연속적인 데이털르 구간으로 나누는데 사용되는 함수 => 딕셔너리 형식으로 생성했었다. 
c = pd.cut(ages, bins, labels = lab)
c
# 0세는 nan으로 나타나버리네 
# 10세는 미성년자로 나타난다.

[NaN, '미성년자', '미성년자', '미성년자', '청년', ..., '노년', '청년', '중년', '노년', '청년']
Length: 12
Categories (4, object): ['미성년자' < '청년' < '중년' < '노년']

- [ages 데이터들의 카테고리화된 각각의 결과들]
- length : 데이터의 길이(개수)
- categories : 카테고리의 개수

In [8]:
# ages 데이터를 가지고 데이터 프레임 생성 => 리스트 형식을 생성하겠다. 
age_df = pd.DataFrame(ages, columns= ["ages"]) 
age_df

    ages
0      0
1      2
2     10
3     15
4     21
5     23
6     37
7     61
8     20
9     41
10   100
11    32

In [9]:
# 자동 append 되어비리는 데이터 프레임에 카테고리 컬럼 추가
age_df["카테고리"] = c
age_df

    ages  카테고리
0      0   NaN
1      2  미성년자
2     10  미성년자
3     15  미성년자
4     21    청년
5     23    청년
6     37    중년
7     61    노년
8     20    청년
9     41    중년
10   100    노년
11    32    청년

In [10]:
# 카테고리컬한 데이터를 파악할때 용이한 함수 => Value_counts()
# 각 카테고리 값이 나온 횟수를 세어주는 기능
age_df["카테고리"].value_counts()
# 카테고리화 되어있는 것을 활용하는방법.
# 몇명인지

카테고리
청년      4
미성년자    3
중년      2
노년      2
Name: count, dtype: int64