In [3]:
# íŒë‹¤ìŠ¤ë¡œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ íŒ€ì› ì„¸ëª…ì˜ ì •ë³´ë¥¼ ì…ë ¥í•˜ê¸°
# ì´ë¦„, ì„±ë³„, ë‚˜ì´
import pandas as pd
team = pd.DataFrame([["ì„œí¬ì°½", "ì´ì§„í—Œ", "ë°•ì„±í™”"],
                 ["ë‚¨", "ë‚¨", "ë‚¨"],
                 [30, 26, 40]],
          index=["ì´ë¦„","ì„±ë³„","ë‚˜ì´"])
print(team)

      0    1    2
ì´ë¦„  ì„œí¬ì°½  ì´ì§„í—Œ  ë°•ì„±í™”
ì„±ë³„    ë‚¨    ë‚¨    ë‚¨
ë‚˜ì´   30   26   40

In [6]:
team = pd.DataFrame([["ì„œí¬ì°½", "ë‚¨ì", 30],
                     ["ì´ì§„í—Œ", "ë‚¨ì", 26],
                     ["ë°•ì„±í™”", "ë‚¨ì", 40]],
                     index=["1ë²ˆ", "2ë²ˆ", "3ë²ˆ"],
                     columns=["ì´ë¦„", "ì„±ë³„", "ë‚˜ì´"])

print(team)

     ì´ë¦„  ì„±ë³„  ë‚˜ì´
1ë²ˆ  ì„œí¬ì°½  ë‚¨ì  30
2ë²ˆ  ì´ì§„í—Œ  ë‚¨ì  26
3ë²ˆ  ë°•ì„±í™”  ë‚¨ì  40

In [ ]:
# ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë”•ì…”ë„ˆë¦¬ë¡œ ë§Œë“¤ì–´ë³´ê¸°  => key : ì»¬ëŸ¼ëª…, ë°¸ë¥˜ : ë°ì´í„°
team_dict = pd.DataFrame({"ì´ë¦„" : ["ì„œí¬ì°½", "ì´ì§„í—Œ", "ë°•ì„±í™”"],
                          "ì„±ë³„" : ["ë‚¨ì", "ë‚¨ì", "ë‚¨ì"],
                          "ë‚˜ì´" :[30, 26, 40]},
                          index=["1ë²ˆ", "2ë²ˆ", "3ë²ˆ"])
print(team_dict)

     ì´ë¦„  ì„±ë³„  ë‚˜ì´
1ë²ˆ  ì„œí¬ì°½  ë‚¨ì  30
2ë²ˆ  ì´ì§„í—Œ  ë‚¨ì  26
3ë²ˆ  ë°•ì„±í™”  ë‚¨ì  40

In [11]:
# í–‰ ì¸ë±ì‹± => ë¶ˆê°€ëŠ¥ ì˜¤ë¥˜ê°€ë‚œë‹¤.
# team[0]
# í–‰ ìŠ¬ë¼ì´ì‹± => 1ë²ˆê³¼ 2ë²ˆì´ ì í˜€ìˆëŠ” í–‰ ìì²´ë¥¼ ê°€ì§€ê³ ì˜¤ê³ ì‹¶ë‹¤. 
team[0:2:1]
# í–‰ ìŠ¬ë¼ì´ì‹± => index ëª…ìœ¼ë¡œë„ ê°€ëŠ¥í•˜ë‹¤. 
team["1ë²ˆ":"2ë²ˆ":1]

     ì´ë¦„  ì„±ë³„  ë‚˜ì´
1ë²ˆ  ì„œí¬ì°½  ë‚¨ì  30
2ë²ˆ  ì´ì§„í—Œ  ë‚¨ì  26

In [ ]:
# ì—´ ì¸ë±ì‹± = > ê°€ëŠ¥í•˜ë‹¤. DF ëª… ["ì»¬ëŸ¼ëª…"]
team["ì´ë¦„"]

# ì—´ ìŠ¬ë¼ì´ì‹± => ë¶ˆê°€ëŠ¥ 
team["ì´ë¦„":"ì„±ë³„":1] # ë¶ˆê°€ëŠ¥í•˜ë‹¤.

1ë²ˆ    ì„œí¬ì°½
2ë²ˆ    ì´ì§„í—Œ
3ë²ˆ    ë°•ì„±í™”
Name: ì´ë¦„, dtype: object

# ë¶ˆí¸í•¨ì„ í•´ê²°í•˜ê³ ì ğŸ‘indexer ë“±ì¥!!!! 
# - ë°ì´í„° í”„ë ˆì„ì˜ í–‰, ì—´ì— í¸ë¦¬í•œ ì ‘ê·¼ ìœ„í•´ ì¡´ì¬
# - loc(location), iloc(index location)
# - loc : ì‹¤ì œë¡œ ë³´ì´ëŠ” ì´ë¦„ìœ¼ë¡œ ë°ì´í„° ì ‘ê·¼
# - iloc : ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ ë°ì´í„° ì ‘ê·¼
# - .ì¸ë±ì„œ[í–‰,ì—´]

In [ ]:
# í–‰ ì¸ë±ì‹± => ë¶ˆê°€ëŠ¥í•´ => indexer ì‚¬ìš©ìœ¼ë¡œ í•´ê²°í•˜ì => team.loc["1ë²ˆ"], team.iloc[0]
team.loc["1ë²ˆ"] # locëŠ” ì¸ë±ìŠ¤ ëª…ìœ¼ë¡œ ì ‘ê·¼
team.iloc[0] # ilocëŠ” ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ ì ‘ê·¼

ì´ë¦„    ì„œí¬ì°½
ì„±ë³„     ë‚¨ì
ë‚˜ì´     30
Name: 1ë²ˆ, dtype: object

In [ ]:
# í–‰ ì¶”ê°€ CRUD Create,Read, Update, Delete
team.loc["4ë²ˆ"] = ["ì´ê´‘ë¯¼", "ë‚¨ì", 26]
team

     ì´ë¦„  ì„±ë³„  ë‚˜ì´
1ë²ˆ  ì„œí¬ì°½  ë‚¨ì  30
2ë²ˆ  ì´ì§„í—Œ  ë‚¨ì  26
3ë²ˆ  ë°•ì„±í™”  ë‚¨ì  40
4ë²ˆ  ì´ê´‘ë¯¼  ë‚¨ì  26

In [ ]:
# ì—´ ìŠ¬ë¼ì´ì‹± => ë¶ˆê°€ëŠ¥í•´ => indexer ì‚¬ìš©ìœ¼ë¡œ í•´ê²°í•˜ì => team.loc[:, "ì´ë¦„":"ì„±ë³„"], team.iloc[:, 0:2]
# ì—´ê³¼ í–‰ì„ ê°™ì´ ê°€ì ¸ì™€ì•¼í•œë‹¤. í–‰[0:2:1], ì—´[0:2:1]
team.iloc[0:3:2, 0:3:2]


# í–‰ê³¼ ì—´ì„ ê°™ì´ ê°€ì ¸ì™€ì•¼í•œë‹¤ í–‰["1ë²ˆ":"2ë²ˆ":1], ì—´["ì´ë¦„": "ì„±ë³„": 1]
team.loc["1ë²ˆ": "4ë²ˆ" : 2 , "ì´ë¦„": "ë‚˜ì´": 2]

     ì´ë¦„  ë‚˜ì´
1ë²ˆ  ì„œí¬ì°½  30
3ë²ˆ  ë°•ì„±í™”  40

In [ ]:
# 1ê°œë§Œ ê°€ì§€ê³ ì˜¤ê³ ì‹¶ë‹¤. 
# indexer ì‚¬ìš©í•´ì„œ í–‰,ì—´ ê°€ì ¸ì˜¨ë‹¤.
team.loc["1ë²ˆ","ì´ë¦„"]

'ì„œí¬ì°½'

In [ ]:
import pandas as pd

In [ ]:
# íŒë‹¤ìŠ¤ ì‹¤ìŠµ

# population.csv íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° .read_csv() í•¨ìˆ˜ ì‚¬ìš©
population = pd.read_csv("./data/population.csv", encoding="utf-8")
population


# pd.read_html("../web/css/20250709_ex05_div.html", encoding="utf-8")

   ë„ì‹œ   ì§€ì—­     2020        2015        2010      2005
0  ì„œìš¸  ìˆ˜ë„ê¶Œ  9668465  10022181.0  10312545.0  10167344
1  ë¶€ì‚°  ê²½ìƒê¶Œ  3391946         NaN         NaN   3628293
2  ì¸ì²œ  ìˆ˜ë„ê¶Œ  2942828   2925815.0         NaN   2600495
3  ê´‘ì£¼  ì „ë¼ê¶Œ  1450062   1474636.0   1454636.0   1401745
4  ëŒ€êµ¬  ê²½ìƒê¶Œ  2418436   2466052.0   2431774.0   2456016

#### pandas DataFrameì—ì„œ CRUD ì‘ì—…ì€ ë‹¤ìŒê³¼ ê°™ì´ ìˆ˜í–‰ë©ë‹ˆë‹¤:

- ì—°ì‚°	ì£¼ìš” ë©”ì„œë“œ	ì„¤ëª…
- Create	pd.concat(), loc[], insert()	ìƒˆë¡œìš´ í–‰/ì—´ ì¶”ê°€
- Read	loc[], iloc[], query(), head()	ë°ì´í„° ì¡°íšŒ ë° í•„í„°ë§
- Update	loc[], iloc[], at[], iat[]	ê¸°ì¡´ ë°ì´í„° ìˆ˜ì •
- Delete	drop(), del	í–‰/ì—´ ì‚­ì œ

In [ ]:
# dataframeì„ ë¶ˆëŸ¬ì™€ì„œ indexë¥¼ ë„ì‹œë¡œ ì„¤ì •í•˜ê¸°
# index_col="ë„ì‹œ"ë¥¼ ì‚¬ìš©í•˜ì—¬ ë„ì‹œë¥¼ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œë‹¤.
population = pd.read_csv("./data/population.csv", index_col = "ë„ì‹œ", encoding="utf-8")
population

     ì§€ì—­     2020        2015        2010      2005
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9668465  10022181.0  10312545.0  10167344
ë¶€ì‚°  ê²½ìƒê¶Œ  3391946         NaN         NaN   3628293
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2942828   2925815.0         NaN   2600495
ê´‘ì£¼  ì „ë¼ê¶Œ  1450062   1474636.0   1454636.0   1401745
ëŒ€êµ¬  ê²½ìƒê¶Œ  2418436   2466052.0   2431774.0   2456016

In [ ]:
# ì¸ë±ìŠ¤ëª… ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ë³´ì—¬ì¤€ë‹¤.sort_index() 
population.sort_index()

     ì§€ì—­     2020        2015        2010      2005
ë„ì‹œ
ê´‘ì£¼  ì „ë¼ê¶Œ  1450062   1474636.0   1454636.0   1401745
ëŒ€êµ¬  ê²½ìƒê¶Œ  2418436   2466052.0   2431774.0   2456016
ë¶€ì‚°  ê²½ìƒê¶Œ  3391946         0.0         0.0   3628293
ì„œìš¸  ìˆ˜ë„ê¶Œ  9668465  10022181.0  10312545.0  10167344
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2942828   2925815.0         0.0   2600495

In [ ]:
# ì—´ ì¸ë±ì‹± í›„ ë°ì´í„° ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ë³´ê¸° =>  ê¸°ë³¸ê°’ì€ ì˜¤ë¦„ì°¨ìˆœ(ascending ì˜¤ë¦„ì°¨ìˆœ=False)ì´ë‹¤.
population["2010"].sort_values(ascending=False)  # 2010ë…„ ì¸êµ¬ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ decending (ì–´ì„¼ë”©:ì˜¤ë¦„ì°¨ìˆœ ascending=False) ì •ë ¬ ì†ì„±: aggregate

ë„ì‹œ
ê´‘ì£¼     1454636.0
ëŒ€êµ¬     2431774.0
ì„œìš¸    10312545.0
ë¶€ì‚°           NaN
ì¸ì²œ           NaN
Name: 2010, dtype: float64

In [ ]:
# by agrgate
# ë°ì´í„°í”„ë ˆì„ ë‚´ 2010ë…„ë§Œì„ ê¸°ì¤€ ëª¨ë“ ë°ì´í„° ì˜¤ë¦„ì°¨ìˆœ ë³´ì—¬ì£¼ê¸° 
population.sort_values(by="2010")

     ì§€ì—­     2020        2015        2010      2005
ë„ì‹œ
ê´‘ì£¼  ì „ë¼ê¶Œ  1450062   1474636.0   1454636.0   1401745
ëŒ€êµ¬  ê²½ìƒê¶Œ  2418436   2466052.0   2431774.0   2456016
ì„œìš¸  ìˆ˜ë„ê¶Œ  9668465  10022181.0  10312545.0  10167344
ë¶€ì‚°  ê²½ìƒê¶Œ  3391946         NaN         NaN   3628293
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2942828   2925815.0         NaN   2600495

In [ ]:
# ì§€ì—­ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ, ì§€ì—­ì´ ê°™ì„ê²½ìš° 2020ë…„ ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ by=["ì§€ì—­", "2020"] by aggregateëŠ” ë¦¬ìŠ¤íŠ¸ë„ ê°€ëŠ¥í•˜ë‹¤.

population.sort_values(by = ["ì§€ì—­","2020"])
# ì‘ìš© population.sort_values(by = ["ì§€ì—­","2020"], ascending=[True, False])  # ì§€ì—­ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ, ì§€ì—­ì´ ê°™ì„ê²½ìš° 2020ë…„ ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ by=["ì§€ì—­", "2020"] by aggregateëŠ” ë¦¬ìŠ¤íŠ¸ë„ ê°€ëŠ¥í•˜ë‹¤.
# ì—ëŸ¬ population.sort_values(by = ["ì§€ì—­","2020"], descending=[True, False])  # ì§€ì—­ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ, ì§€ì—­ì´ ê°™ì„ê²½ìš° 2020ë…„ ì»¬ëŸ¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ by=["ì§€ì—­", "2020"] by aggregateëŠ” ë¦¬ìŠ¤íŠ¸ë„ ê°€ëŠ¥í•˜ë‹¤.

     ì§€ì—­     2020        2015        2010      2005
ë„ì‹œ
ëŒ€êµ¬  ê²½ìƒê¶Œ  2418436   2466052.0   2431774.0   2456016
ë¶€ì‚°  ê²½ìƒê¶Œ  3391946         NaN         NaN   3628293
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2942828   2925815.0         NaN   2600495
ì„œìš¸  ìˆ˜ë„ê¶Œ  9668465  10022181.0  10312545.0  10167344
ê´‘ì£¼  ì „ë¼ê¶Œ  1450062   1474636.0   1454636.0   1401745

In [ ]:
# count í•¨ìˆ˜ 
# ê° í–‰, ì—´ë³„ë¡œ ëª‡ê°œì˜ í–‰ì´ ìˆëŠ”ì§€ í™•ì¸í•œë‹¤.(NaN ì œì™¸) => ì»¬ëŸ¼ì„ê¸°ì¤€ìœ¼ë¡œ rowê°€ ëª‡ê°œì¸ê°€ í™•ì¸í•˜ê³ ì‹¶ì„ë•Œ. count(axis= row = 0)
population.count()
# population.count(axis=0) default axis=0

ì§€ì—­      5
2020    5
2015    4
2010    3
2005    5
dtype: int64

In [ ]:
# ëª‡ê°œì˜ ì—´ì´ ìˆëŠ”ì§€ í™•ì¸í•œë‹¤.(NaNì œì™¸).count(axis = column = 1)
population.count(axis=1) 
# population.count(axis=1)  # axis=1ì€ í–‰ì„ ê¸°ì¤€ìœ¼ë¡œ ì¹´ìš´íŠ¸í•œë‹¤.

ë„ì‹œ
ì„œìš¸    5
ë¶€ì‚°    3
ì¸ì²œ    4
ê´‘ì£¼    5
ëŒ€êµ¬    5
dtype: int64

In [ ]:
# ê²°ì¸¡ì¹˜(NaN)ë¥¼ ì›í•œëŠ ë°ì´í„°ë¡œ ë³€ê²½í•˜ê¸°
# ê²°ì¸¡ì¹˜ì˜ ì—°ì‚°ì€ ê²°ì¸¡ì¹˜ë¡œ ë‚˜ì˜¤ê¸° ë•Œë¬¸!
# fillna() í•¨ìˆ˜ ì‚¬ìš© => ë³€ìˆ˜ëª….fillna(value=0) => fill NaNì˜ ì•½ì. 
# int64 bitë¡œ ë³€ê²½í•´ì£¼ëŠ”ê²ƒ
population.fillna(value=0, inplace=True)  # inplace=TrueëŠ” ì›ë³¸ ë°ì´í„°ì— ì ìš©í•œë‹¤ëŠ” ì˜ë¯¸ì´ë‹¤. ê¸°ë³¸ê°’ì€ Falseë¡œ ì›ë³¸ ë°ì´í„°ëŠ” ë³€ê²½ë˜ì§€ ì•ŠëŠ”ë‹¤.
population.dtypes
population.astype({"2010":"int64"})

     ì§€ì—­     2020        2015      2010      2005
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9668465  10022181.0  10312545  10167344
ë¶€ì‚°  ê²½ìƒê¶Œ  3391946         0.0         0   3628293
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2942828   2925815.0         0   2600495
ê´‘ì£¼  ì „ë¼ê¶Œ  1450062   1474636.0   1454636   1401745
ëŒ€êµ¬  ê²½ìƒê¶Œ  2418436   2466052.0   2431774   2456016